<footer class="footer mt-auto py-3 bg-dark border-5 border-top border-info fixed-bottom">
    <div class="container text-center">
        <span class="fs-5 fw-medium text-light">© 2025 Librobazaar. Todos los derechos reservados.</span>
    </div>
</footer>