<div class="p-5 mb-4 mt-5 bg-light rounded-3 text-center mx-auto shadow-lg">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenido a LibroBazaar!!</h1>
        <p class="col-md-8 fs-4 mx-auto">Tu destino para encontrar los mejores libros. Inicia sesión para explorar nuestro catálogo y realizar compras seguras.</p>
    </div>
</div>